// cs-shortcut-toggle
// Button with icon, label and possible badge, placed mostly in header. Like My account, basket, favorites
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cs-shortcut-toggle {
    font-size: 1rem;
    position: relative;
    width: 100px;
    display: block;
    color: #2c2c2c;
    fill: #ffc0cb;
    text-decoration: none;


    &__image {
        width: 3em;
        height: 3em;
        display: block;
        margin: 0 auto;

    }
    &__badge {
        position: absolute;
        right: .5em;
        top: .5em;

        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;

        border-radius: 1.5em;
        background: #f00;
        color: #fff;
    }

    &__label {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
