// config-poppen
// temporary config variables for poppen
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

$color-blue-dark: #14679D;
$color-blue-light: #C0DEF6;
$color-red: #CE2127;
$color-black: #232323;
$color-pink: #EA88AE;

$base-font-family: 'sans-serif';

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;