// config-poppen
// temporary config variables for poppen
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

$color-blue-dark: #14679d;
$color-blue-light: #c0def6;
$color-red: #ce2127;
$color-black: #232323;
$color-pink: #ea88ae;

$base-font-family: 'sans-serif';

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
