// cc-component-picker
// Lists all types of components available in m2c in the grid/list mode
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-component-picker {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &:before,
        &:after {
            content: '';
            display: table;
        }
        &:after {
            clear: both;
        }
    }

    &__list-item {
        float: left;
        width: 300px;
        margin: 10px;
    }

    &__component-link {
        display: block;
    }

    &__component-figure {
        margin: 0;
    }

    &__component-cover {
        display: block;
        width: 100%;
        max-width: 100%;
        box-shadow: 0 0 15px -5px rgba( 0, 0, 0, .3 );
    }
}
