@import '../../action-button/src/action-button';
@import '../../cc-component-actions/src/cc-component-actions';
@import '../../cc-component-placeholder/src/cc-component-placeholder';
@import '../../cc-component-adder/src/cc-component-adder';
@import '../../cc-component-headline-preview/src/cc-component-headline-preview';
@import '../../cc-component-image-teaser-preview/src/cc-component-image-teaser-preview';
@import '../../cc-component-static-cms-block-preview/src/cc-component-static-cms-block-preview';

// cc-layout-builder
// It bootstraps layout for Creative Constructor backend
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-layout-builder {

    &__adder {
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__component {
        display: flex;
        align-items: stretch;
        width: 100%;
        margin: 20px 0;
    }

    &__component-actions {
        margin-right: 30px;
    }

    &__component-wrapper {
        display: inline-flex;
        align-items: stretch;
        width: 100%;
    }
}
