$aftersearch-nav_tablet-filters: 4 !default;
$aftersearch-nav_laptop-filters: 6 !default;
$aftersearch-nav_desktop-filters: 6 !default;
$aftersearch-nav_tablet-rows: 1 !default;
$aftersearch-nav_laptop-rows: 1 !default;
$aftersearch-nav_desktop-rows: 1 !default;
$aftersearch-nav_button-bottom: false !default;

@mixin aftersearch-nav() {
    $root: &;

    &__show-more-button {
        display: none;
    }

    @include media('>=tablet', '<laptop') {
        $row-numbers: $aftersearch-nav_tablet-filters;

        $filters-rows-tablet: $aftersearch-nav_tablet-filters *
            $aftersearch-nav_tablet-rows;

        &__filter,
        &__filter-row {
            flex-basis: calc(100% / #{$row-numbers});
        }

        &__filter-row {
            display: block;
        }

        &__filter-row:last-child:not(&__filter):nth-child(-n
                + #{$filters-rows-tablet
                + 1}) {
            display: none;
        }

        @if $aftersearch-nav_button-bottom {
            $row-numbers: $aftersearch-nav_tablet-filters + 1;

            .#{$namespace}filter-horizontal {
                padding-bottom: 4.9rem !important;
            }

            .#{$namespace}aftersearch-nav__show-more-button {
                position: absolute !important;
                left: 0 !important;
                right: 0 !important;
                bottom: -0.2rem !important;
                margin: 0 auto !important;
                min-width: 12rem !important;
                max-width: 40rem !important;

                #{$root}__show-more-trigger {
                    text-align: center !important;
                }
            }
        }

        &__filter:nth-child(n + #{$row-numbers}) {
            display: none;

            #{$root}--expanded & {
                display: block;
            }
        }

        &__filter:nth-child(#{$row-numbers}):nth-last-child(2) {
            display: block;
        }
    }

    @include media('>=laptop', '<desktop') {
        $row-numbers: $aftersearch-nav_laptop-filters;

        $filters-rows-laptop: $aftersearch-nav_laptop-filters *
            $aftersearch-nav_laptop-rows;

        &__filter,
        &__filter-row {
            flex-basis: calc(100% / #{$row-numbers});
        }

        &__filter-row {
            display: block;
        }

        &__filter-row:last-child:not(&__filter):nth-child(-n
                + #{$filters-rows-laptop
                + 1}) {
            display: none;
        }

        @if $aftersearch-nav_button-bottom {
            $row-numbers: $aftersearch-nav_laptop-filters + 1;

            .#{$namespace}filter-horizontal {
                padding-bottom: 4.9rem !important;
            }

            .#{$namespace}aftersearch-nav__show-more-button {
                position: absolute !important;
                left: 0 !important;
                right: 0 !important;
                bottom: -0.2rem !important;
                margin: 0 auto !important;
                min-width: 12rem !important;
                max-width: 40rem !important;

                #{$root}__show-more-trigger {
                    text-align: center !important;
                }
            }
        }

        &__filter:nth-child(n + #{$row-numbers}) {
            display: none;

            #{$root}--expanded & {
                display: block;
            }
        }

        &__filter:nth-child(#{$row-numbers}):nth-last-child(2) {
            display: block;
        }
    }

    @include media('>=desktop') {
        $row-numbers: $aftersearch-nav_desktop-filters;

        $filters-rows-desktop: $aftersearch-nav_desktop-filters *
            $aftersearch-nav_desktop-rows;

        &__filter,
        &__filter-row {
            flex-basis: calc(100% / #{$row-numbers});
        }

        &__filter-row {
            display: block;
        }

        &__filter-row:last-child:not(&__filter):nth-child(-n
                + #{$filters-rows-desktop
                + 1}) {
            display: none;
        }

        @if $aftersearch-nav_button-bottom {
            $row-numbers: $aftersearch-nav_desktop-filters + 1;

            .#{$namespace}filter-horizontal {
                padding-bottom: 4.9rem !important;
            }

            .#{$namespace}aftersearch-nav__show-more-button {
                position: absolute !important;
                left: 0 !important;
                right: 0 !important;
                bottom: -0.2rem !important;
                margin: 0 auto !important;
                min-width: 12rem !important;
                max-width: 40rem !important;

                #{$root}__show-more-trigger {
                    text-align: center !important;
                }
            }
        }

        &__filter:nth-child(n + #{$row-numbers}) {
            display: none;

            #{$root}--expanded & {
                display: block;
            }
        }

        &__filter:nth-child(#{$row-numbers}):nth-last-child(2) {
            display: block;
        }
    }

    @include media('>=desktop') {
        &__filter-content {
            &--extremely-right {
                left: auto !important;
                right: 0.5rem;
            }
        }
    }
}
