$namespace: 'cs-';
@import '../../../grid-product/src/grid-product.scss';
@import '../grid-layout.scss';

html {
    font-family: Open Sans, Arial, sans-serif;
    background: #f0f0f0;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 0 3rem;
    padding: 0 10px;
}

.toggle-guidelines {
    margin: 3rem 0;
    padding: .6rem 2rem;
    border: 1px solid #aaa;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: Open Sans, Arial, sans-serif;
    transition: background-color .15s linear;

    &:hover,
    &:focus,
    &:active {
        background-color: #fff;
    }
}

.legend {
    list-style: none;
    margin: 0 0 3rem;
    padding: 0;
    display: none;

    .guides & {
        display: block;
    }

    li {
        display: flex;
        margin: 0 0 .5rem;
        align-items: center;
    }

    span {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 2px;
        margin-right: .5rem;
    }

    .grid-tile span { background: #e8e8e8; }
    .product span { background: #fff; }
}

$bricksPerRow: (
    phone: 1,
    phone-lg: 2,
    tablet: 3,
    laptop: 4,
    laptop-lg: 4,
    desktop: 5,
    tv: 6
);

$bricksHeight: (
    phone: 379px,
    phone-lg: 379px,
    tablet: 443px,
    laptop: 443px,
    laptop-lg: 443px,
    desktop: 443px,
    tv: 443px
);

.#{$namespace}grid-layout {
    @include gridLayout( $bricksPerRow, $bricksHeight, 5px );

    &__brick {
        .guides & {
            background: #e8e8e8;
            border: 1px solid #ddd;
        }
    }
}

.#{$namespace}grid-product {
    @include gridProduct();
}
