// cc-component-separator-preview
// This component is responsible for displaying preview of separator in M2C dashboard in admin panel
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-component-separator-preview {
    position: absolute;
    top: 3.9rem;
    width: calc( 100% - 2.6rem );

    &__separator {
        display: block;
        margin: 2rem 0;
        border: none;
        height: 1px;
        background: #cac3b4;
    }
}
