// m2c-image-teaser-configurator
// M2 implementation of cc-image-teaser-configurator
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

$namespace: 'm2c-';
@import '../../../components/cc-image-teaser-configurator/src/cc-image-teaser-configurator';

.#{$namespace}image-teaser-configurator {
    $root: &;

    &__scenario-options {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    &__option {
        cursor: pointer;
        position: relative;
        border-color: #d4d4d4;
        fill: #d4d4d4;
        color: #adadad;
        transition: border-color .3s, opacity .3s, color .3s;
        margin: 0 15px;

        &:hover {
            border-color: #0072ff;
        }

        &--selected {
            border-color: #0072ff;
            color: #0072ff;
        }

        &--disabled {
            cursor: not-allowed;

            &:hover {
                border-color: #d4d4d4;
            }

            #{$root}__option-wrapper {
                &:after {
                    opacity: .8;
                }
            }
        }
    }

    &__option-wrapper {
        position: relative;
        padding: 22px 28px;
        border-color: inherit;
        border-style: dashed;
        border-width: 1px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #f9f9f9;
            opacity: 0;
            transition: opacity .3s;
        }
    }

    &__option-icon {
        width: 10vw;
        height: 5.8vw;

        @media ( max-width: 62.5em ) { // 1000px
            width: 100px;
            height: 58px;
        }

        @media( min-width: 105.625em ) { // 1690px
            width: 169px;
            height: 98px;
        }
    }

    &__option-name {
        padding: 20px 0;
        margin: 0;
        text-align: center;
        font-weight: 600;
    }

    &__teaser-item {
        &:hover {
            #{$root}__delete-button {
                z-index: 3;
                opacity: 1;
            }
        }
    }

    &__modal {
        display: none;
    }

    &__widget-chooser-trigger {
        cursor: pointer;
        transition: background .2s linear;

        &:hover {
            background: darken( #e3e3e3, 5% );
        }
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        height: 3rem;
        line-height: 3rem;
        text-align: right;
    }

    &__item {
        position: relative;
        margin: 3rem 0 0;
        padding: 1.5rem;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 5px 0 rgba( 0, 0, 0, .12 );
        transition: box-shadow .15s ease-in-out;

        &--animating {
            pointer-events: none;
            transition: box-shadow .15s ease-in-out, transform .4s cubic-bezier( 0, .7, .32, 1 );
        }

        &:hover {
            box-shadow: 0 0 15px 3px rgba( 0, 0, 0, .22 );

            .cc-component-adder {
                opacity: 1;
                transform: translate3d( 0, 0, 0 );
            }
        }

        &-action-button {
            font-size: 1.45rem !important;
        }

        &-content {
            display: flex;
            align-items: stretch;
        }

        &-form-element {
            &:first-child {
                margin-top: -.5rem;
            }

            + #{$root}__item-form-element:not( .m2-input--type-checkbox ):not( .m2-input--type-radio ) {
                margin-top: 1rem;
            }
        }

        &-col-left,
        &-col-right {
            width: calc( 50% - 1rem );
        }

        &-col-left {
            border: 1px dashed #cac3b3;
        }

        &-col-right {
            margin-left: 2rem;
        }

        &-actions {
            position: absolute;
            opacity: 0;
            transform: translate3d( 0, -25%, 0 );
            z-index: 5;
            backface-visibility: hidden;
            will-change: unset, transform;
            transition: transform .25s ease-in-out, opacity .25s ease-in-out;
        }

        &-image {
            display: block;
            max-width: 100%;
            max-height: 100%;
            flex-shrink: 0;
        }

        &-image-placeholder {
            width: 8rem;
            height: 6.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
            fill: #d4d4d4;
        }
    }

    &__item-image-wrapper {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;

        &:before {
            position: absolute;
            top: -1rem;
            left: -1rem;
            width: calc( 100% + 2rem );
            height: calc( 100% + 2rem );
            content: '';
            background: rgba( #0072ff, .9 );
            z-index: 3;
            opacity: 0;
            transform: scale( .85 );
            transition: transform .35s cubic-bezier( 0, .77, .23, 1 ), opacity .3s cubic-bezier( 0, .77, .23, 1 );
        }

        &:hover {
            &:before {
                transform: scale( 1 );
                opacity: 1;
            }

            #{$root}__item-actions {
                opacity: 1;
                transform: translate3d( 0, 0, 0 );
            }
        }
    }

    &__select {
        width: 100%;
    }
}
