// cc-category-links
// Display main category and few subcategories
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@import '../../../utilities/breakpoint/src/breakpoint';

@mixin category-links {
    $root: &;

    @include media( '>=tablet', '<laptop' ) {
        display: flex;
    }

    &__title {
        @include media( '>=tablet', '<laptop' ) {
            flex: 1 1 auto;
        }
    }

    &__dropdown {
        @include media( '>=tablet', '<laptop' ) {
            flex: 0 1 auto;
            width: 300px
        }
    }

    // it's visible only on mobile as a dropdown trigger
    &__subtitle {
        padding: 1rem;
        font-weight: bold;
        border-bottom: 1px solid #ccc;

        @include media( '>=laptop' ) {
            display: none;
        }
    }

    &__list-wrapper {
        @include media( '>=laptop' ) {
            display: flex;
        }

        @include media( '<laptop' ) {
            background: #fff;
            box-shadow: 0 0 10px rgba( 0, 0, 0, .3 );
        }
    }

    &__list,
    &__list-all {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__list {
        @include media( '>=laptop' ) {
            flex: 1 1 auto;
            margin-top: -0.5rem;
            margin-left: -0.5rem;
        }

        &-item {
            @include media( '>=laptop' ) {
                display: inline-block;
                margin-top: 0.5rem;
                margin-left: 0.5rem;
            }
        }
    }

    &__list-all {
        @include media( '>=laptop' ) {
            flex: 0 1 auto;
            margin-left: 1rem;
            padding-left: 1rem;
            border-left: 1px solid #ccc;
        }

        &-item {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__link {
        font-weight: bold;
        text-decoration: none;

        @include media( '<laptop' ) {
            display: block;
            padding: 1rem;
        }

        @include media( '>=laptop' ) {
            white-space: nowrap;
        }
    }

    &__qty {
        font-weight: normal;
    }
}

@mixin category-links-dropdown {
    $root: &;
    position: relative;

    &__trigger {
        @include media( '<laptop' ) {
            position: relative;
            z-index: 25;
        }
    }

    &__content {
        @include media( '<laptop' ) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 20;
            padding-top: 3.5rem;

            overflow: hidden;
            height: 0;
            opacity: 0;
            transform: translateY( 2.5rem );
            transition: opacity .05s linear, transform .11s ease-in-out;
        }
        &--out {
        }
        &--in {
            @include media( '<laptop' ) {
                height: auto;
                opacity: 1;
                transform: translateY( 0 );
            }
        }
    }
}
