// cs-progress-bar
// Progress bar
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cs-progress-bar {
    position: relative;
    font-size: 1rem;
    height: 1em;
    width: 10em;
    background: rgba( 237, 237, 237, .43 );

    &__value {
        width: 0;
        background-color: rgba( 254, 184, 35, .43 );
        height: 1em;
        transition: width .3s;
    }
}
