/*
 * Inputs
 * Skin - Magento Backend
 */

$namespace: 'm2-';
@import '../../../components/cs-input/src/cs-input';

.#{$namespace}input {
    $root: &;

    position: relative;

    &__label {
        color: #303030;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__addon-wrapper {
        position: relative;
        min-width: 4rem;
        max-width: 100%;
        width: 50%;

        #{$root}__input {
            width: 100% !important;
        }
    }

    &__addon {
        cursor: pointer;
        transition: background .15s linear;
        
        &:hover {
            background: darken( #e3e3e3, 10% );
        }
    }

    &__input {
        line-height: 1.36;
        font-size: 1.4rem;
        padding: .6rem 1rem;
        border: 1px solid #adadad;
        color: #303030;

        &:hover:not( :disabled ):not( :focus ) {
            border-color: #878787;
        }

        &:focus {
            border-color: #007bdb;
        }

        &:disabled {
            background-color: #e9e9e9;
            border-color: #adadad;
            color: #303030;
        }

        &--limited-width {
            max-width: 450px;
        }

        &--type-tiny {
            display: inline-block;
            max-width: 5.3rem;
            margin-right: 0.3rem;
            color: inherit;
            text-align: right;
        }
    }

    &__textarea {
        min-width: 4rem;
    }

    &__select {
        min-width: 8.5rem;
        padding-bottom: .5rem;
        padding-right: 4.4rem;
        padding-top: .5rem;
        background-image: url( 'images/dropdown-arrows-bg.svg' ), linear-gradient( #e3e3e3, #e3e3e3 ), linear-gradient( #adadad, #adadad ); // stylelint-disable-line
        background-position: calc( 100% - 12px ) -34px, 100%, calc( 100% - 3.2rem ) 0;
        background-size: auto, 3.2rem 100%, 1px 100%;
    }

    &__fake-select {
        @extend .#{$namespace}input__input;
        min-height: 3.1rem;
        line-height: 3rem;
        padding: 0 3.6rem 0 1rem;
        position: relative;
        cursor: pointer;
        width: 100% !important;

        &:hover:not( :disabled ):not( :focus ):not( #{$root}__fake-select--active ) {
            &:before {
                border-color: #878787;
            }
        }

        &:before {
            background-color: #e3e3e3;
            border-left: 1px solid #adadad;
            border-top: 1px solid #adadad;
            bottom: 0;
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 3.2rem;
            height: 3.1rem;
        }

        &:after {
            border-color: #000 transparent transparent transparent;
            border-style: solid;
            border-width: .5rem .4rem 0 .4rem;
            content: '';
            height: 0;
            position: absolute;
            right: 1.1rem;
            bottom: 1.15rem;
            transition: all .2s linear;
            width: 0;
        }

        &--active {
            border-color: #007bdb;

            &:before,
            &:hover {
                border-color: #007bdb !important;
            }

            &:after {
                transform: rotate( -180deg );
            }
        }
    }

    &__checkbox-label {
        position: relative;
        font-weight: 900;
        text-transform: uppercase;
        font-size: .9em;
        line-height: 1.7rem;
        padding: 0 0 0 .8rem;

        &:before,
        &:after {
            position: absolute;
            width: 1.7rem;
            height: 1.7rem;
            top: 0;
            left: 0;
            content: '';
            z-index: 2;
            border-radius: 3px;
        }

        &:before {
            border: 1px solid #e4e1d9;
            background-color: #fff;
            transition: border-color .15s linear;
        }

        &:after {
            opacity: 0;
            background: #007bdb url('./images/check.svg') no-repeat 50% 50%;
            background-size: 60%;
            transition: opacity .1s linear;
        }

        &:hover:before,
        &--checked:before {
            border-color: #007bdb;
        }

        &--checked {
            &:after {
                opacity: 1;
            }
        }
    }

    &__checkbox {
        opacity: 0;
    }

    &__hint {
        color: #adadad;
        font-size: 1.2rem;
        margin: 4px 0 0;
        padding: 0;

        &--under-field {
            min-width: 4rem;
            width: 50%;
            max-width: 800px;
            white-space: nowrap;
        }

        &--info-mark {
            position: relative;
            padding-left: 2.2rem;

            &:before {
                content: 'i';
                position: absolute;
                top: 1px;
                left: 0;
                color: #fff;
                background-color: #007bdb;
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1;
                padding: 0.2rem 0;
                text-align: center;
                font-family: Georgia, serif;
            }

            #{$root}--type-inline & {
                margin-left: -2.2rem;
                white-space: normal;
            }
        }
    }

    &__note {
        max-width: 450px;
        margin: 0.5rem 0 2.5rem;
    }

    &--group {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:not( #{$root}--type-checkbox ),
        &:not( #{$root}--type-radio ) {
            #{$root} {
                width: calc( 50% - .75rem );
                margin-top: 0 !important;
            }
        }

        #{$root}__select {
            width: 100%;
        }

        &-quarter {
            &:not( #{$root}--type-checkbox ),
            &:not( #{$root}--type-radio ) {
                #{$root} {
                    width: calc( 25% - .75rem );
                }
            }
        }
    }

    &--type-inline {
        #{$root}__label {
            width: 25%;
            padding-right: 30px;
        }

        #{$root}__input {
            width: 50%;
        }

        #{$root}__select {
            width: auto;
            min-width: 8.5rem;
        }
    }

    &--type-hint {
        margin-top: 0 !important;
    }

    &--type-checkbox,
    &--type-radio {

        #{$root}__label {
            position: relative;
            padding: 0 0 0 2.6rem;
            line-height: 1.36rem;

            &:before {
                width: 1.6rem;
                height: 1.6rem;
                top: 50%;
                transform: translateY( -50% );
                border: 1px solid #adadad;
                line-height: inherit;
                text-indent: 0;
                -webkit-font-smoothing: antialiased;
                font-family: 'Admin Icons';
                font-style: normal;
                font-weight: normal;
                speak: none;
                font-size: 1.1rem;
                line-height: 125%;
            }
        }

        #{$root}__checkbox {
            &:checked + #{$root}__label:before {
                content: '\e62d';
                color: #514943;
                
            }
        }

        #{$root}__radio {
            &:checked + #{$root}__label {
                &:before {
                    content: '';
                }

                &:after {
                    content: '';
                    width: .8rem;
                    height: .8rem;
                    top: 50%;
                    left: .4rem;
                    transform: translateY( -50% );
                    background-color: #007bdb;
                }
            }
        }
    }

    &--type-addon {
        #{$root}__input {
            padding-right: 4.5rem;
        }
    }

    &--type-required {
        #{$root}__label:after {
            color: #eb5202;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1;
            margin-left: 10px;
            vertical-align: inherit;
        }
    }

    + #{$root}--type-inline:not( #{$root}--type-checkbox ):not( #{$root}--type-radio ) {
        margin: 3rem 0 0;
    }
}
