// cs-2way-switch
// 2 way switch with state management and apis
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cs-2-way-switch {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    //default skin
    background: #fff;
    border: 1px solid #222;
    color: #222;
    fill: #222;
    border-radius: .5em;

    //temp
    font-family: 'sans-serif';
    margin: 50px auto;
    width: 300px;

    &__item {
        flex: 1 1 auto;
        width: 50%;
        transition: .3s;

        text-decoration: none;
        color: inherit;
        text-align: center;

        &:hover {
            width: calc( 50% + 1em );
        }

        &--is-active {
            background: #88bb29;

            color: #fff;
            fill: #fff;
            width: calc( 50% + 1em );
            cursor: default;

            box-shadow: 0 0 8px 2px rgba( #333, .7 );
        }

    }
    &__icon {
        width: 2em;
        height: 2em;
        display: inline-block;
        margin-right: .5em;
        vertical-align: middle;
    }
    &__text {
        line-height: 3em;
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
    }
}
