@import '../../../../utilities/breakpoint/src/breakpoint';
@import '../../../cs-input/src/cs-input';
@import '../../../cs-button/src/cs-button';
@import '../../../star-rating/src/star-rating';
@import '../../../swatches/src/swatches';
@import '../../../price-box/src/price-box';
@import '../grid-product.scss';

html {
    font-family: Open Sans, Arial, sans-serif;
    background: #f0f0f0;
}

.cols {
    display: flex;
    justify-content: space-around;
    margin: 4em auto;
}

.col {
    max-width: 350px;

    > div > h4 {
        margin-top: 2.5em;
    }
}

.wide {
    max-width: 1000px;
    margin: 4em auto;
}

.narrow > div,
.wide > ul {
    margin: 0 0 4em;
}

.cs-swatches {
    @include swatches();
}

.price-box {
    @include priceBox();
}

.cs-grid-product {
    @include gridProduct();
}

