$namespace: 'cs-product-carousel';
@import '../../cs-teaser/src/cs-teaser';
/**
 * Define block class using namespace.
 */
.#{$namespace} {
    $root: &;

    &__product {
        position: relative;
        text-align: center;
    }

    &__product-link {
        color: #222;
        text-decoration: none;
    }

    &__product-figure {
        margin: 0 0 .5rem;
        max-width: 200px;
        text-align: center;
    }

    &__product-image {
        max-width: 100%;
    }

    &__badge {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        line-height: 50px;
        text-align: center;
        background: #222;
        color: #fff;
        transform: rotate( 15deg );
    }

    &__product-price-outer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 .5rem;
    }

    &__product-old-price {
        text-decoration: line-through;
        margin-right: .5rem;

        + #{$root}__product-price {
            margin-left: .5rem;
        }
    }

    &__product-price {
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__product-name {
        font-weight: 600;
        font-size: 1.25rem;
    }
}
