/**
 * Define block class using namespace.
 */
.action-button {
    $root: &;

    display: inline-block;
    text-decoration: none;
    // Set font-size according to browser's default(usually 16px).
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    // Add transparent border to ensure consistent sizing with buttons that have
    // colored border.
    border: 1px solid transparent;
    background: none;
    white-space: nowrap;
    transition: color .15s, border-color .15s, background-color .15s;

    &__icon {
        width: 2rem;
        height: 2rem;
        position: relative;
        top: -2px;
        margin-right: .6rem;
        line-height: 1;
        vertical-align: middle;
        transition: fill .15s;

        &--size {
            // Don't use sizes like medium or big which make you end up with
            // semi-medium, bigger, ultra-big etc. Use font-weight like sizing,
            // so you can always make 90, 350 etc.
            &_100 {
                height: 1.6rem;
                width: 1.6rem;
            }

            &_300 {
                width: 2.2rem;
                height: 2.2rem;
            }
        }

        &--primary {
            fill: #c20000;
        }
    }

    &--look {

        &_default {
            border-color: #e4e1d9;
            background-color: #fff;
            color: #333;
            fill: #333;

            &:hover,
            &:focus {
                color: #007bdb;
                border-color: #007bdb;
                background-color: #e4f7fe;
                fill: #007bdb;
            }
        }

        &_primary {
            border: 0;
            background-color: #eb5202;
            color: #fff;
            fill: #fff;

            &:hover,
            &:focus {
                background-color: darken( #eb5202, 8% );
            }
        }

        &_important {
            background-color: #fff;
            border-color: #e4e1d9;
            color: #eb5202;
            fill: #eb5202;

            &:hover {
                border-color: #eb5202;
                background-color: #fff;
            }
        }

        &_warning {
            color: #eb5202;
            background-color: lighten( #eb5202, 57% );
            border-color: #eb5202;
            fill: #eb5202;
        }

        &_disabled {
            border-color: #e4e1d9 !important;
            background-color: #fff !important;
            fill: lighten( #e4e1d9, 3.5% );
            cursor: default;
            opacity: 1 !important;

            &:hover,
            &:focus {
                border-color: #e4e1d9 !important;
                background-color: #fff !important;
                fill: lighten( #e4e1d9, 3.5% );
            }
        }
    }

    &--type {
        &_icon-only {
            width: 5rem;
            height: 5rem;
            padding: 1rem;

            #{$root}__icon {
                display: block;
                top: 0;
                margin: auto;
            }
        }
    }
}
