@import '../../action-button/src/action-button';

.cc-navigation {
    $root: &;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 53px;

    &__button {
        margin: 0 0 10px;

        #{$root}__bottom & {
            &:last-child {
                margin: 0;
            }
        }
    }
}
