// cc-component-hero-carousel-preview
// Preview of hero carousel component in CC panel
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-component-hero-carousel-preview {
    $root: &;

    overflow: hidden;
    position: relative;
    font-size: 0;

    &__scene {
        width: 100%;
        margin-left: -122%;
        display: inline-block;
        white-space: nowrap;

        &--single {
            margin-left: 0;
        }
    }

    &__slide {
        display: inline-block;
        position: relative;
        width: 74%;
        padding: 0 .65rem;
        vertical-align: top;

        #{$root}__scene--single & {
            width: 100%;
            padding: 0;
        }

        &-content {
            position: absolute;
            bottom: 1px;
            left: calc( .65rem + 1px );
            width: calc( 100% - 2px - 1.3rem );
            text-align: center;

            #{$root}__scene--single & {
                left: 1px;
                width: calc( 100% - 2px );
            }
        }

        &-content-info {
            padding: 1.5rem;
            background: rgba( #fff, .85 );
        }
    }

    &__headline,
    &__subheadline,
    &__paragraph,
    &__button {
        max-width: 60%;
        margin: .5rem auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.15 !important;
        text-align: center;

        &:first-child {
            margin-top: 0;
        }
    }

    &__headline {
        margin-top: 0;
        font-size: 3.25rem !important;
        color: #333 !important;
        font-weight: 600 !important;
    }

    &__subheadline {
        font-size: 1.85rem !important;
        font-weight: 400 !important;
        color: #888 !important;
    }

    &__paragraph {
        font-size: 1.45rem !important;
        font-weight: 300 !important;
        color: #888 !important;
    }

    &__button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        background: #adadad;
        color: #fff;
        font-size: 1.45rem;
        border-radius: 2px;
        font-weight: 400;
        min-width: 25rem;
    }

    &__image {
        width: 100%;
        display: block;
        box-sizing: border-box;

        &--border {
            border: 1px dashed #e4e1d9;
        }
    }

    &__thumbs {
        display: inline-block;
        margin: 0 0 1.35rem;
    }

    &__thumb {
        width: 100px;
        margin: 0 .25rem;
        border: 2px solid #fff;
    }

    &__slide-placeholder,
    &__thumb-placeholder {
        width: 8rem;
        height: 6.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        fill: #d4d4d4;

        &-wrapper {
            position: relative;
            height: 100%;
            min-height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f5f5;
            border: 1px dashed #e4e1d9;
        }
    }

    &__thumb-placeholder {
        width: 3rem;
        height: 2.5rem;

        &-wrapper {
            display: inline-block;
            width: 100px;
            margin: 0 .25rem;
            border: 2px solid #fff;
            min-height: 5rem;
        }
    }
}
