// cs-scroll-up-arrow
// Arrow component that scrolls the page
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cs-scroll-up-arrow {
    //display: block;
    font-size: 1rem;
    box-sizing: border-box;

    border-radius: 5em;
    width: 5em;
    height: 5em;
    fill: #ccc;
    padding: 1em;
    background: #eee;
    border: 1px solid #ccc;
    transition: 0.3s;

    position: fixed;
    right: 5em;
    bottom: 5em;

    //By default should be hidden.
    //Then show it by javascript f.e after page scroll
    display: none;

    &--is-visible {
        display: block;
    }

    &:hover {
        fill: #bbb;
        border: 1px solid #bbb;

    }

    &__icon {
        width: 100%;
        height: 100%;
    }
}
