// cs-single-review
// Single review component
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@import '../../star-rating/src/star-rating';

.cs-single-review {
    font-size: 1rem;
    font-family: sans-serif;

    &__title {
        display: block;
        font-weight: 700;
        margin-bottom: .5em;
    }

    &__meta {
    }

    &__meta-item {
        vertical-align: middle;
        padding: 0 .5em;
        border-right: 1px solid #ddd;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
        }

    }

    &__stars {
        height: 1em;
    }

    &__author {
        line-height: 1em;
    }

    &__date {
        line-height: 1em;
        color: #666;

    }

    &__content {
        color: #666;
    }
}
