// sticky-block
// This component cann be sticky in the area of its parents size
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

@import '../../../utilities/breakpoint/src/breakpoint';

@mixin stickyBlock() {
    @include media( '>=laptop' ) {
        position: sticky;
        z-index: 10;
        top: 1em;
    }
}
