// Visually Hidden
// Visually hidden is a css class that hide element from view but leave it accessible for screen readers
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@mixin visually-hidden() {
    border: 0;
    clip: rect( 0, 0, 0, 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
